<!DOCTYPE html>
<!--Esta es la primera pagina html-->
<!-- Son etiquetas extendias -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http//www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Proyecto06</title>
        <meta charset="UTF-8"/> 
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            sec:authorize="hasRole('ROLE_ADMIN')"
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarPaquetes">
                            <i class="fas fa-plus"></i> [[#{paquetes.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar paquetes, es la ventana modal -->
        <section th:fragment="agregarPaquetes">
            <div id="agregarPaquetes" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">[[#{paquetes.agregar}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/paquetes/guardar}" th:object="${paquetes}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">


                                <!-- Esto es para la opcion de descipcion, desplaza una lista (categorias) -->
                                <div class="mb-3">
                                    <label for="idCategoria">[[#{paquetes.categoria}]]</label>
                                    <select name="categoria.idCategoria" 
                                            class="form-select">           
                                        <option th:each="c : ${categorias}" 
                                                th:value="${c.idCategoria}">[[${c.descripcion}]]</option>

                                    </select>
                                </div>


                                <div class="mb-3">
                                    <label for="descripcion">[[#{paquetes.descripcion}]]</label>
                                    <input type="text" class="form-control" name="descripcion" required="true"/>
                                </div>

                                <!-- Agrega detalle a la tabla de "agregar categorias" -->
                                <div class="mb-3">
                                    <label for="detalle">[[#{paquetes.detalle}]]</label>
                                    <textarea class="form-control" 
                                              rows="3"
                                              name="detalle">                                                
                                    </textarea>
                                </div>   

                                <div class="mb-3">
                                    <label for="precio">[[#{paquetes.precio}]]</label>
                                    <input type="number" 
                                           class="form-control" 
                                           name="precio" 
                                           required="true"/>
                                </div>                               

                                <div class="mb-3">
                                    <label for="existencias">[[#{paquetes.existencias}]]</label>
                                    <input type="number" 
                                           class="form-control" 
                                           name="existencias" 
                                           required="true"/>
                                </div>                                  


                                <div class="mb-3">
                                    <label for="activo">[[#{paquetes.activo}]]</label>
                                    <input class="form-check-input" type="checkbox" name="activo" id="activo"/>
                                </div>

                                <div class="mb-3">
                                    <label for="imagen">[[#{paquetes.imagen}]]</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección para mostrar los filtros de los paquetes-->        
        <section th:fragment="filtros" class="bg-light m-2">
            <div class="card p-2">
                <form method="post"
                      th:action="@{/paquetes/listado}"> 
                    <div class="card-header text-white text-center bg-warning">
                        <h4>[[#{filtro.busqueda}]]</h4> 
                    </div>                        
                    <div class="card-body">
                        <div class="row g-2"> <!-- Añadimos 'row' para organizar en filas y 'g-2' para el espacio entre columnas -->
                            <div class="col-md">
                                <label for="ubicacion">[[#{filtro.ubicacion}]]</label> 
                                <input type="text" 
                                       class="form-control"
                                       th:value="${ubicacion}"
                                       th:name="ubicacion"
                                       id="ubicacion"
                                       placeholder="Ej. Nueva York"
                                       required="true"/>
                            </div>                           
                            <div class="col-md">
                                <label for="fechaSalida">[[#{filtro.fechaSalida}]]</label> 
                                <input type="date" 
                                       class="form-control"
                                       th:value="${fechaSalida}"
                                       th:name="fechaSalida"
                                       id="fechaSalida"
                                       required="true"/>
                            </div>  
                            <div class="col-md">
                                <label for="fechaLlegada">[[#{filtro.fechaLlegada}]]</label> 
                                <input type="date" 
                                       class="form-control"
                                       th:value="${fechaLlegada}"
                                       th:name="fechaLlegada"
                                       id="fechaLlegada"
                                       required="true"/>
                            </div>
                            <div class="col-md">
                                <label for="cantidadPersonas">[[#{filtro.cantidadPersonas}]]</label> 
                                <input type="number" 
                                       class="form-control"
                                       th:value="${cantidadPersonas}"
                                       th:name="cantidadPersonas"
                                       id="cantidadPersonas"
                                       placeholder="Ej. 2"
                                       min="1"
                                       required="true"/>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer text-center">
                        <button type="submit"
                                class="btn btn-warning">
                            <i class="fas fa-magnifying-glass"></i> [[#{boton.buscar}]]
                        </button>
                    </div>   
                </form>
            </div>
        </section>


        <!-- 3 Sección principal para mostrar la informaccion de la entidad paquetes -->
        <section th:fragment="listadoPaquetes" id="paquetes">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{paquetes.listado}]]</h4>
                            </div>
                            <div th:if="${paquetes != null and !paquetes.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>[[#{paquetes.descripcion}]]</th>
                                            <th>[[#{paquetes.precio}]]</th>
                                            <th>[[#{paquetes.existencias}]]</th>
                                            <th>[[#{paquetes.total}]]</th>
                                            <th>[[#{paquetes.categoria}]]</th>
                                            <th>[[#{paquetes.activo}]]</th>
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="paquetes : ${paquetes}">
                                            <td>[[${paquetes.idPaquete}]]</td>
                                            <td>[[${paquetes.descripcion}]]</td>
                                            <td style="text-align: end">[[${paquetes.precio}]]</td>
                                            <td style="text-align: center">[[${paquetes.existencias}]]</td>
                                            <td style="text-align: end">[[${paquetes.precio*paquetes.existencias}]]</td>
                                            <td>[[${paquetes.categoria.descripcion}]]</td>
                                            <td th:text="${paquetes.activo} ? 'Activa' : 'Inactiva'" />
                                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                                <a th:href="@{/paquetes/eliminar/}+${paquetes.idPaquete}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a>
                                                <a th:href="@{/paquetes/modificar/}+${paquetes.idPaquete}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${paquetes == null or paquetes.empty}">
                                <span>[[#{lista.vacia}]]</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{paquetes.total}]]</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalPaquetes}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarPaquetes">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/paquetes/guardar}" 
                          th:object="${paquetes}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idPaquete" th:field="*{idPaquete}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{paquetes/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>[[#{accion.actualizar}]]</h4>
                                            </div>

                                            <div class="card-body">

                                                <div class="mb-3">
                                                    <label for="idCategoria">[[#{paquetes.categoria}]]</label>
                                                    <select name="categoria.idCategoria"
                                                            th:field="*{categoria.idCategoria}"
                                                            class="form-select">           
                                                        <option th:each="c : ${categorias}" 
                                                                th:value="${c.idCategoria}">[[${c.descripcion}]]</option>

                                                    </select>
                                                </div>



                                                <div class="mb-3">
                                                    <label for="descripcion">[[#{paquetes.descripcion}]]</label>
                                                    <input type="text" class="form-control" 
                                                           name="descripcion" th:field="*{descripcion}"
                                                           required="true">
                                                </div>

                                                <div class="mb-3">
                                                    <label for="detalle">[[#{paquetes.detalle}]]</label>
                                                    <textarea class="form-control" 
                                                              rows="3"
                                                              name="detalle"
                                                              th:field="*{detalle}">
                                                    </textarea>
                                                </div>   

                                                <div class="mb-3">
                                                    <label for="precio">[[#{paquetes.precio}]]</label>
                                                    <input type="number" 
                                                           class="form-control" 
                                                           name="precio" 
                                                           th:field="*{precio}"required="true"/>
                                                </div>                               

                                                <div class="mb-3">
                                                    <label for="existencias">[[#{paquetes.existencias}]]</label>
                                                    <input type="number" 
                                                           class="form-control" 
                                                           name="existencias" 
                                                           th:field="*{existencias}"required="true"/>
                                                </div>  


                                                <div class="mb-3">
                                                    <label for="activo">[[#{paquetes.activo}]]</label>
                                                    <input class="form-check-input" 
                                                           type="checkbox" 
                                                           name="activo" 
                                                           id="activo"
                                                           th:field="*{activo}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">[[#{paquetes.imagen}]]</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${paquetes.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/paquetes/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/paquetes/eliminar/}+${paquetes.idPaquete}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>

