<!DOCTYPE html>
<!--Esta es la primera pagina html-->
<!-- Son etiquetas extendias -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http//www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShopcito</title>
        <meta charset="UTF-8"/> 
    </head>
    <body>
        <!-- 1 Sección para crear los tabs de categorias-->
        <section th:fragment="tabsCategorias" class="bg-light">
            <div class="row p-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link " href="/paquetes/listado">[[#{paquetes.todas}]]</a>
                    </li>
                    <li class="nav-item" th:each="c : ${categorias}">
                        <a class="nav-link" 
                           th:href="@{/paquetes/listado/} + ${c.idCategoria}">[[${c.descripcion}]]</a>
                    </li>

                </ul>
            </div>
        </section>

        <!-- 2 Sección para mostrar las tarjetas de los paquetes-->
        <section th:fragment="tarjetas" class="bg-light">
            <div class="row row-cols-4">
                <div class="card" th:each="p : ${paquetes}">
                    <figure>
                        <img th:src="${p.rutaImagen}" height="200"/>
                        <figcaption class="d-flex justify-content-evenly">
                            <div>
                                ¢[[${p.precio}]] ([[${p.existencias}]])
                            </div>
                            <div>
                                <form>
                                    <input type="hidden" name="texto" th:value="${p.idPaquete}"/>
                                    <input type="hidden" name="texto" th:value="${p.existencias}"/>
                                    <button class="btn btn-ligth" id="addCar" 
                                            name="addCar" onclick="addCart(this.form)" 
                                            type="button"><i class="fas fa-cart-plus"></i>
                                    </button>
                                </form>
                            </div>
                        </figcaption>
                    </figure>

                    <div class="card-header">
                        <h4>[[${p.descripcion}]]</h4>
                    </div> 
                    <div class="card-body">
                        <p>[[${p.detalle}]]</p>
                    </div>
                </div>

            </div>
        </section>

 
    </body>
</html>

