<!DOCTYPE html>
<!--Esta es la primera pagina html-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http//www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"
        <title>Proyecto06</title>
        <meta charset="UTF-8"/> 
      
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        
        <section th:replace="~{pagos/fragmentos :: editarPagos}"/>

        
        <footer th:replace="~{layout/plantilla :: footer}"/> 
       
    </body>
</html>
